@media screen and (min-width:1200px) {
   .container {
         max-width: 1158px;
      }
   .header .container{
      width: 1158px;
   } 
   .logo {
         margin-right: 76px;
      }
   
.site-contacts .item:not(:last-child) {
   margin-bottom: 0;
}
   
             .header {
                display: flex;
                border-bottom: 1px solid var(--border-color);
                justify-content: space-between;
             }
      
             .address {
                margin-left: auto;
             }
             .site-contacts{
                  display: flex;
                     gap: 40px;
                   
             }
   } 
   
 
   

